<link rel="stylesheet" href="{{ 'home_testimonials.css' | asset_url }}">
<div class=""></div>
{% schema %}
{
  "name": "Testimonials Home",
  "settings": [],
  "presets": [
    {
      "name": "Testimonials Home"
    }
  ]
}
{% endschema %}
