.brand-values-container {
    background: linear-gradient(0deg, #E8DCCB10, #E8DCCB50);
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-values-container .page-width {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.brand-values-item {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 24%;
}

.brand-values-item img {
    width: 55px;
}

.brand-values-item-text-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.brand-values-item-text-container p:nth-of-type(1) {
    color: #5A1E2B;
    font-family: 'Ethnic';
    font-size: 14px;
    margin: 0;
    line-height: 1.3;
}

.brand-values-item-text-container p:nth-of-type(2) {
    color: #1D1A1B;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 0;
    opacity: .8;
    font-weight: 400;
}