.categories-scroller-container {
    background-color: #F3EADE;
    margin-top: -20px;
    padding: 30px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.categories-scroller-title {
    color: #5A1E2B;
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 30px;
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 9%;
}

.category-name {
    text-transform: uppercase;
    color: #5A1E2B;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    line-height: 1.2;
    text-wrap: nowrap;
}

.categories-scroller-wrapper {
    display: flex;
    overflow-x: auto;
    gap: 61px;
}

.category-item img {
    width: 100%;
    height: auto;
}

.categories-scroller-cta {
    display: flex;
    margin: 35px auto 25px;
    width: fit-content;
    text-align: center;
    text-decoration: underline;
    list-style: none;
    color: #C36075;
    font-size: 12px;
}

.categories-scroller-container-bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    pointer-events: none;
}

.categories-scroller-container-bottom-image_strip {
    display: flex;
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.categories-scroller-container-bottom-image_flower {
    display: flex;
    width: 100px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.categories-scroller-container-bottom-image_rotating {
    display: flex;
    width: 160px;
    position: absolute;
    bottom: 0;
    z-index: 0;
}