.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 36rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  height: 53px;
  padding: 0 20px !important;
  line-height: 53px;
}

.newsletter-form__button {
  font-size: 11px !important;
  height: 53px;
  font-weight: 700 !important;
  font-family: 'Outfit';
}

.newsletter-form__field-wrapper .field__label {
  top: 50%;
  transform: translateY(-50%);
}

.newsletter-form__field-wrapper .field__input:not(:placeholder-shown)~.field__label,
.newsletter-form__field-wrapper .field__input:focus~.field__label {
  top: 24%;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  margin: 10px 0 0;
  width: 100%;
  background-color: #fff !important;
  color: #543030;
  z-index: 2;
  border-radius: 12px;
  padding: 18px;
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 0px;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}