.essentials-strip-container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
    min-height: 830px;
}

.essentials-strip-bg-top-image {
    position: absolute;
    top: -13px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.essentials-strip-bg-image {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.essentials-strip-bg-bottom-image {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 17px;
    z-index: -1;
}

.essentials-strip-container .section-heading {
    text-align: center;
    color: #fff;
    font-size: 42px;
    margin: 70px 0 0;
    letter-spacing: 0;
    line-height: 1;
}

.essentials-strip-container .section-subheading {
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    color: #fff;
    margin-bottom: 43px;
    font-weight: 200;
}

.essentials-strip-relative {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    z-index: 1;
}

.essentials-strip-item {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 33%;
    aspect-ratio: 317 / 484;
    height: auto;
    flex-direction: column;
    padding: 0 20px;
}

.essentials-strip-item img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.essentials-strip-bottom-strip {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 4;
}

.essentials-strip-item p:nth-of-type(1) {
    color: #5A1E2B;
    font-size: 31px;
    text-align: center;
    letter-spacing: 0;
    line-height: 1;
    font-family: 'Ethnic';
    margin: 34% 0 0;
}

.essentials-strip-item p:nth-of-type(2) {
    color: #C36075;
    font-size: 39px;
    text-align: center;
    letter-spacing: 0;
    line-height: 1;
    font-family: 'Ethnic';
    margin: 9px 0 0;
}

.essentials-strip-item p:nth-of-type(3) {
    color: #2F181D;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 10px 0 0;
    opacity: 0.7;
    font-weight: 400;
}

.essentials-strip-item a {
    background-color: #D4B15F;
    text-decoration: none;
    color: #fff;
    padding: 14px 26px;
    border-radius: 12px;
    font-size: 11px;
    margin: 25px 0 0;
    transition: all 0.3s ease;

}

.essentials-strip-item a:hover {
    background-color: #fff;
    color: #D4B15F;
    border: 1px solid #D4B15F;
    transition: all 0.3s ease;
}

.essentials-strip-bottom-cta {
    display: block;
    margin: 30px auto 120px;
    text-align: center;
    text-decoration: underline;
    color: #fff;
    font-size: 12px;
}

.essentials-overflow-hidden {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

@media(max-width:756px) {
    .essentials-strip-container .section-heading {
        font-size: 2.3rem !important;
        letter-spacing: 1px !important;
    }

    .essentials-strip-container .section-subheading {
        font-size: 13px;
        line-height: 1.2;
        margin-top: 6px;
    }

    .essentials-strip-relative {
        flex-direction: column;
        gap: 45px;
    }

    .essentials-strip-item {
        width: 100%;
        padding: 0 40px;
    }

    .essentials-strip-bg-top-image {
        top: -4px;
    }

    .essentials-strip-item p:nth-of-type(1) {
        font-size: 2.3rem;
        margin: 120px 0 0;
    }

    .essentials-strip-item p:nth-of-type(2) {
        font-size: 3rem;
    }

    .essentials-strip-item p:nth-of-type(3) {
        font-size: 1.3rem;
    }
}