.product-details_pdp-container--inner {
    display: flex;
    border-radius: 12px;
    border: solid 1px #8F8F8F50;
    padding: 40px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-details_pdp-left_heading {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #C36075;
}

.product-details_pdp-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.product-details_pdp-divider {
    background-color: #8F8F8F50;
    height: 100%;
    width: 1px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.product-details_pdp-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;
}

.product-details_pdp-inner_heading {
    color: #282122;
    font-weight: 500;
    font-size: 16px;
    margin: 25px 0 0 0;
}

.product-details_pdp-inner_content {
    opacity: .8;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 400;
    color: #403638;
    padding-right: 40px;
    margin: 10px 0 0 0;
}

.product-details_pdp-left ul {
    padding-left: 16px;
    margin: 10px 0 0 0;
}

.product-details_pdp-left ul li:first-of-type {
    margin-top: 0;
}

.product-details_pdp-right-row {
    display: flex;
    padding: 10px 0 10px 0;
    border-bottom: solid 1px #8F8F8F50;
    justify-content: space-between;
}

.product-details_pdp-right-row:first-of-type {
    padding-top: 0;
}

.product-details_pdp-right-row-name {
    font-size: 13px;
    line-height: 1.3;
    font-weight: 600;
    color: #403638;
    margin: 0;
}

.product-details_pdp-right-row-value {
    opacity: .8;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 400;
    color: #403638;
    margin: 0;
}

.product-details_pdp-right .product-details_pdp-left_heading {
    margin-bottom: 25px;
}

.jm-review-widget-sidebar-header__sidebar .jm-review-widget-sidebar-header__title {
    font-family: 'Ethnic';
    font-weight: 400;
    color: #5A1E2B;
    font-size: 30px;
}

.jm-review-widget--sidebar-header {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

#shopify-section-template--20374774218930__1770814844fea6e906 {
    background-color: #F8F7F5;
}

.related-products__heading {
    font-weight: 400;
    color: #5A1E2B;
    font-size: 36px;
    text-align: center;
}

@media(max-width: 756px) {
    .jm-review-widget--sidebar-header {
        padding-top: 35px !important;
        padding-bottom: 35px !important;
    }
}