.purpose-strip-container {
    position: relative;
    padding-bottom: 90px;
    overflow: hidden;
}

.purpose-strip-container .section_flower_right {
    top: 4%;
}

.purpose-strip-container .section-heading {
    text-align: center;
    color: #543030;
    font-size: 42px;
    margin: 55px 0 0;
    letter-spacing: 0;
    line-height: 1;
}

.purpose-strip-container .section-subheading {
    text-align: center;
    font-size: 16px;
    margin: 10px auto 0;
    color: #543030;
    margin-bottom: 43px;
    opacity: .7;
    max-width: 490px;
    line-height: 1.2;
    font-weight: 200;
}

.purpose-strip-relative {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.purpose-strip-item {
    display: flex;
    width: 49%;
    position: relative;
    height: auto;
    aspect-ratio: 245/116;
}

.purpose-strip-item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.purpose-strip-item-text-container {
    position: absolute;
    left: 33px;
    top: 50%;
    transform: translateY(-50%);
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.purpose-strip-item-text-container p:nth-of-type(1) {
    color: #543030;
    font-size: 33px;
    letter-spacing: 0;
    line-height: 1;
    font-family: 'Ethnic';
    margin: 0;
}

.purpose-strip-item-text-container p:nth-of-type(2) {
    color: #C36075;
    font-size: 33px;
    letter-spacing: 0;
    line-height: 1;
    font-family: 'Ethnic';
    margin: 4px 0 0;
}

.purpose-strip-item-text-container p:nth-of-type(3) {
    color: #504a4b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 10px 0 0;
    opacity: 1;
    font-weight: 400;
}

.purpose-strip-item-text-container a {
    display: block;
    margin: 20px auto 0 0;
    font-size: 11px;
    text-decoration: underline;
    color: #C36075;
    text-transform: uppercase;
    text-underline-position: under;
    font-weight: 700;
    letter-spacing: 1px;
    text-underline-offset: 2px;
    transition: all 0.2s ease-in;
}

.purpose-strip-item-text-container a:hover {
    scale: 1.03;
}

.purpose-strip-relative-flower__left {
    position: absolute;
    left: -44px;
    top: -38px;
    z-index: -1;
    width: 110px;
}

.purpose-strip-relative-flower__right {
    position: absolute;
    right: -44px;
    bottom: -38px;
    z-index: -1;
    width: 110px;
}

.purpose-overflow-hidden {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

@media(max-width:756px) {
    .purpose-strip-container {
        padding-bottom: 55px;
    }

    .purpose-strip-container .section-heading {
        font-size: 2.3rem;
    }

    .purpose-strip-container .section-subheading {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .purpose-strip-relative-flower__left {
        display: none;
    }

    .purpose-strip-relative-flower__right {
        display: none;
    }

    .purpose-strip-item {
        width: 100%;
    }

    .purpose-strip-item-text-container p:nth-of-type(1) {
        font-size: 1.6rem;
    }

    .purpose-strip-item-text-container p:nth-of-type(2) {
        font-size: 2rem;
    }

    .purpose-strip-item-text-container p:nth-of-type(3) {
        font-size: 1rem;
        line-height: 1.1;
    }

    .purpose-strip-item-text-container a {
        margin-top: 8px;
        font-size: .8rem;
        letter-spacing: 0;
    }

    .purpose-strip-item-text-container {
        left: 18px;
        width: 42%;
    }
}