.related-products {
  display: block;
  padding-top: 50px !important;
  padding-bottom: 35px !important;
}

.related-products__heading {
  margin: 0 0 3rem;
}

@media(max-width: 756px) {
  .related-products {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }
}